# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
env/
venv/

# Django
db.sqlite3
*.log
*.pot
*.py[cod]

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Test coverage
coverage.xml
*.cover